##
#   OS
##


.DS_Store


##
#   SECRETS
## 


cli/config/secrets.sh


##
#   TMP FILES
##


cli/aws_resources/ec2/user_data.txt.copy


##
#   TEST
##


/.shellspec-local
/.shellspec-quick.log
/report/
/coverage/
