#!/bin/bash


##
#
# HOW TO USE:
#
# 1. Create new file with same name as this one, minus the '.example'  
# 2. Copy contents of this file into that new file
# 3. Add in values for each key
#
##


##
#   AWS
##


export _AWS_PROFILE=''

export _AWS_REGION=''


##
#   OS
##


export _INSTANCE_LOGIN_USER_PASSWORD=''


##
#   LOCAL IPS
##


export _IP_V4=''

export _IP_V6=''
