#!/bin/bash


##
#
# HOW TO USE:
#
# 1. Create new file with same name as this one, minus the '.example'  
# 2. Copy contents of this file into that new file
# 3. Add in values for each key
#
##


##
#   AWS
##


_AWS_PROFILE=''

_AWS_REGION=''


##
#   OS


_INSTANCE_LOGIN_USER_PASSWORD=''


##
#   LOCAL IPS
##


_IP_V4=''

_IP_V6=''
